<!DOCTYPE html>
<html>
  <head>
    <title><%= data.siteName %> :: <%= data.siteTagline %></title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/util.css">
  </head>
  <body class="page- theme-<%= theme.slug %>">
    <header class="row">
      <div class="container">
        <h1><%= data.siteName %></h1>
        <h3><%= data.siteTagline %></h3>
      </div>
    </header>
