<%- include('inc/head') %>
<main class="container">
  <section>
    <h1 class="text-xl1 mb-1"><%= data.siteName %></h1>
    <h4 class="text-normal text-<%= theme.secondaryColor %> mb-4"><%= data.siteTagline %></h4>
    <blockquote>
      <p class="lead">Futility UI is a lightweight toolkit for <span class="mark bg-canary">practical web development</span>, usable as a website boilerplate, design system styleguide, or drop-in utility package.</p>
    </blockquote>
    <p class="mb-2">The platform consists of these main parts:</p>
    <div class="d-grid cols-3 col-gap-1">
      <div class="card shadow mb-3 text-sm pb-2"><h4 class="mb-1 text-<%= theme.secondaryColor %>"><i class="text-<%= theme.tertiaryColor %> d-inline-block mr-05 fa-solid fa-palette"></i> CSS Framework</h4>A minimalist, utility-based CSS schema, inspired by Bootstrap 4 and Tailwind.</div>
      <div class="card shadow mb-3 text-sm pb-2"><h4 class="mb-1 text-<%= theme.secondaryColor %>"><i class="text-<%= theme.tertiaryColor %> d-inline-block mr-05 fa-solid fa-sitemap"></i> Page Templates</h4>Helpful starter pages showcasing typical web layouts, in <code>.html</code> and <code>.ejs</code>.</div>
      <div class="card shadow mb-3 text-sm pb-2"><h4 class="mb-1 text-<%= theme.secondaryColor %>"><i class="text-<%= theme.tertiaryColor %> d-inline-block mr-05 fa-solid fa-gear"></i> Simple Tooling</h4>Dev server &amp; build script for generating your own custom Futility site.</div>
    </div>
    <div class="panel warning d-flex mb-3">
      <i class="text-lg pt-1 text-sunshine mr-2 fa-solid fa-lightbulb"></i>
      <p class="mb-2">Putting it all together, <code>#FUI</code> is intended for any project seeking to craft a performant, bespoke design system. In fact, this page itself is built with Futility!</p>
    </div>
    <p><a href="/contents<%= ext %>">Explore more templates here &rarr;</a></p>
    <p>Or get started customizing your own Futility site:</p>
    <p class="mb-4">
      <a class="btn" href="#">Download</a>
      <a class="btn" href="#">Documentation</a>
    </p>
    <p><i class="text-aluminum fa-solid fa-triangle-exclamation"></i> <small class="text-verdana text-slate text-normal">Thanks for visiting, always under construction!</small></p>
  </section>
</main>
<%- include('inc/foot') %>
