<%- include('inc/head') %>
<main class="container">
  <section>
    <h1>Futility Templates</h1>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Path</th>
          <th>Example Content</th>
        </tr>
      </thead>
      <tbody>
        <% contents.forEach(function (template, i) { %>
          <tr>
            <td><%= i+1 %></td>
            <td><a href="<%= template.path %><%= ext %>"><%= template.name %></a></td>
            <td><code><%= template.path %></code></td>
            <td class="text-slate"><%= template.desc %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </section>
  <h6><a class="link-alt" title="Futility UI Home" href="/">&larr; Back to Home</a></h6>
</main>
<%- include('inc/foot') %>
