<%- include('inc/head') %>
<main class="container">
  <section>
    <h1 class="text-xl1 mb-1"><%= data.siteName %></h1>
    <h4 class="text-normal text-<%= theme.secondaryColor %> mb-4"><%= data.siteTagline %></h4>
    <blockquote class="border-manilla">
      <p class="lead">Futility UI is a lightweight toolkit for <span class="mark">practical web development</span>, usable as a website boilerplate, design system styleguide, or drop-in utility package.</p>
    </blockquote>
    <p>The platform consists of these main parts:</p>
    <ul class="list-style-none m-0 mb-3 pl-0">
      <li class="mb-3"><h3 class="mb-1 text-<%= theme.secondaryColor %>"><i class="text-<%= theme.tertiaryColor %> d-inline-block mr-05 fa-solid fa-palette"></i> CSS Framework</h3>A minimalist, utility-based CSS schema, inspired by Bootstrap 4 and Tailwind.</li>
      <li class="mb-3"><h3 class="mb-1 text-<%= theme.secondaryColor %>"><i class="text-<%= theme.tertiaryColor %> d-inline-block mr-05 fa-solid fa-sitemap"></i> Template Collection</h3>Helpful starter pages showcasing typical web layouts, in <code class="tag">.html</code> and <code class="tag">.ejs</code>.</li>
      <li class="mb-3"><h3 class="mb-1 text-<%= theme.secondaryColor %>"><i class="text-<%= theme.tertiaryColor %> d-inline-block mr-05 fa-solid fa-gear"></i> Dev Server &amp; Build Script</h3>Simple tools for previewing and static generating your custom Futility site.</li>
    </ul>
    <p>Putting it all together, <code>#FUI</code> is intended for any project seeking to craft a performant, bespoke design system. In fact, this page itself is built with Futility!</p>
    <p><a href="/contents">Explore more templates here &rarr;</a></p>
    <p>Or get started customizing your own Futility site:</p>
    <p class="mb-4">
      <a class="btn" href="#">Download</a>
      <a class="btn" href="#">Documentation</a>
    </p>
    <p class="text-sunshine"><i class="fa-solid fa-triangle-exclamation"></i> <small class="text-verdana text-slate text-normal">Thanks for visiting, always under construction!</small></p>
  </section>
</main>
<%- include('inc/foot') %>
