<%- include('inc/head') %>
<main class="container">
  <h1>Text Utilities</h1>
  <section>
    <h3>Sizes</h3>
    <% for (const size_suffix in styles.textSizes) { -%>
      <p class="text-<%= size_suffix %>">.text-<%= size_suffix %> The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog</p>
    <% } %>
  </section>
  <section>
    <h3>Fonts &amp; Weights</h3>
    <table class="text-sm">
      <thead>
        <tr>
          <th class="text-xs w-200px">Class</th>
          <th class="text-xs w-500px">Example</th>
          <th class="text-xs w-200px">Weights</th>
        </tr>
      </thead>
      <tbody>
        <% for (const font_slug in styles.textFonts) { -%>
          <tr>
            <td><code>.text-<%= font_slug %></code></td>
            <td><code class="text-md text-<%= font_slug %>">The quick brown fox jumps over the lazy dog, while the quick brown fox jumps over the lazy dog</code></td>
            <td class="text-<%= font_slug %> text-sm text-center">
              <div class="text-100">.text-100</div>
              <div class="text-200">.text-200</div>
              <div class="text-300">.text-300</div>
              <div class="text-400">.text-400</div>
              <div class="text-500">.text-500</div>
              <div class="text-600">.text-600</div>
              <div class="text-700">.text-700</div>
              <div class="text-800">.text-800</div>
              <div class="text-900">.text-900</div>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </section>
  <section>
    <h3>Inline Styles</h3>
    <table class="text-sm">
      <thead>
        <tr>
          <th class="text-xs w-300px">Class</th>
          <th class="text-xs w-500px">Example</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>.abbr</code></td>
          <td><span title="Hypertext Markup Language" class="abbr small">HTML</span> is the foundation of the <span title="A series of tubes" class="abbr">World Wide Web</span></td>
        </tr>
        <tr>
          <td><code>.cite</code></td>
          <td><span class="cite">Futility UI, The Simple Web Framework</span></td>
        </tr>
        <tr>
          <td><code>.code</code></td>
          <td><span class="code">The quick brown fox jumps over the lazy dog</span></td>
        </tr>
        <tr>
          <td><code>.lead</code></td>
          <td><span class="lead">The quick brown fox jumps over the lazy dog</span></td>
        </tr>
        <tr>
          <td><code>.mark</code></td>
          <td><span class="mark">The quick brown fox jumps over the lazy dog</span></td>
        </tr>
        <tr>
          <td><code>.muted</code></td>
          <td><span class="muted">The quick brown fox jumps over the lazy dog</span></td>
        </tr>
        <tr>
          <td><code>.small</code></td>
          <td><span class="small">The quick brown fox jumps over the lazy dog</span></td>
        </tr>
        <tr>
          <td><code>.text-bold</code></td>
          <td><span class="text-bold">The quick brown fox jumps over the lazy dog</span></td>
        </tr>
        <tr>
          <td><code>.text-capitalize</code></td>
          <td><span class="text-capitalize">The quick brown fox jumps over the lazy dog</span></td>
        </tr>
        <tr>
          <td><code>.text-dotted</code></td>
          <td><span class="text-dotted">The quick brown fox jumps over the lazy dog</span></td>
        </tr>
        <tr>
          <td><code>.text-double</code></td>
          <td><span class="text-double">The quick brown fox jumps over the lazy dog</span></td>
        </tr>
        <tr>
          <td><code>.text-italic</code></td>
          <td><span class="text-italic">The quick brown fox jumps over the lazy dog</span></td>
        </tr>
        <tr>
          <td><code>.text-lowercase</code></td>
          <td><span class="text-lowercase">The quick brown fox jumps over the lazy dog</span></td>
        </tr>
        <tr>
          <td><code>.text-normal</code></td>
          <td><span class="text-normal">The quick brown fox jumps over the lazy dog</span></td>
        </tr>
        <tr>
          <td><code>.text-strike</code></td>
          <td><span class="text-strike">The quick brown fox jumps over the lazy dog</span></td>
        </tr>
        <tr>
          <td><code>.text-underline</code></td>
          <td><span class="text-underline">The quick brown fox jumps over the lazy dog</span></td>
        </tr>
        <tr>
          <td><code>.text-underline-none</code></td>
          <td><span class="text-underline-none">The quick brown fox jumps over the lazy dog</span></td>
        </tr>
        <tr>
          <td><code>.text-uppercase</code></td>
          <td><span class="text-uppercase">The quick brown fox jumps over the lazy dog</span></td>
        </tr>
      </tbody>
    </table>
  </section>
  <section>
    <h3>Alignment</h3>
    <table class="text-sm">
      <thead>
        <tr>
          <th class="text-xs w-300px">Class</th>
          <th class="text-xs w-500px">Example</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>.text-center</code></td>
          <td class="text-center">Hello World</td>
        </tr>
        <tr>
          <td><code>.text-left</code></td>
          <td class="text-left">Hello World</td>
        </tr>
        <tr>
          <td><code>.text-right</code></td>
          <td class="text-right">Hello World</td>
        </tr>
      </tbody>
    </table>
  </section>
  <h6><a class="link-alt" title="Futility UI Contents" href="/contents<%= ext %>">&larr; Back to Contents</a></h6>
</main>
<%- include('inc/foot') %>
